/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#home #scene {
  position: relative;
  width: 95%;
  left: 2.5%;
  padding: 0;
  display: inline-block;
}
#home .background {
  z-index: 0;
  border: 1px solid black;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  height: 500px;
  width: 100%;
}
#home .background #sky {
  height: 300px;
  z-index: 1;
}
#home .background #sky #sun {
  position: relative;
  top: 40px;
  left: 47%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: yellow;
  z-index: 1;
}
#home .background #sky.dawn {
  background: #6c7997;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6c7997), color-stop(1, #56425f));
  background: -ms-linear-gradient(bottom, #6c7997, #56425f);
  background: -moz-linear-gradient(center bottom, #6c7997 0%, #56425f 100%);
  background: -o-linear-gradient(#56425f, #6c7997);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56425f', endColorstr='#6c7997', GradientType=0);
}
#home .background #sky.dawn #sun {
  display: none;
}
#home .background #sky.sunrise {
  background: #ffffca;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffca), color-stop(1, #d3c6cc));
  background: -ms-linear-gradient(bottom, #ffffca, #d3c6cc);
  background: -moz-linear-gradient(center bottom, #ffffca 0%, #d3c6cc 100%);
  background: -o-linear-gradient(#d3c6cc, #ffffca);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3c6cc', endColorstr='#ffffca', GradientType=0);
}
#home .background #sky.sunrise #sun {
  top: 280px;
  background-color: orange;
}
#home .background #sky.sunset {
  background: #fedd7b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fedd7b), color-stop(1, #445d7b));
  background: -ms-linear-gradient(bottom, #fedd7b, #445d7b);
  background: -moz-linear-gradient(center bottom, #fedd7b 0%, #445d7b 100%);
  background: -o-linear-gradient(#445d7b, #fedd7b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#445d7b', endColorstr='#fedd7b', GradientType=0);
}
#home .background #sky.sunset #sun {
  top: 280px;
  background-color: red;
}
#home .background #sky.day {
  background: #e7fcfc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e7fcfc), color-stop(1, #bdf3f0));
  background: -ms-linear-gradient(bottom, #e7fcfc, #bdf3f0);
  background: -moz-linear-gradient(center bottom, #e7fcfc 0%, #bdf3f0 100%);
  background: -o-linear-gradient(#bdf3f0, #e7fcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdf3f0', endColorstr='#e7fcfc', GradientType=0);
}
#home .background #sky.dusk {
  background: #6c7997;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6c7997), color-stop(1, #56425f));
  background: -ms-linear-gradient(bottom, #6c7997, #56425f);
  background: -moz-linear-gradient(center bottom, #6c7997 0%, #56425f 100%);
  background: -o-linear-gradient(#56425f, #6c7997);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56425f', endColorstr='#6c7997', GradientType=0);
}
#home .background #sky.dusk #sun {
  display: none;
}
#home .background #sky.night {
  background: #604779;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #604779), color-stop(1, #001649));
  background: -ms-linear-gradient(bottom, #604779, #001649);
  background: -moz-linear-gradient(center bottom, #604779 0%, #001649 100%);
  background: -o-linear-gradient(#001649, #604779);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001649', endColorstr='#604779', GradientType=0);
}
#home .background #sky.night #sun {
  display: none;
}
#home .background #sea {
  height: 200px;
  background-color: #7cd5df;
  z-index: 2;
  position: relative;
}
#home .background #sea .boat {
  position: relative;
  top: 20px;
  left: 40px;
}
#home .background #grass {
  height: 200px;
  width: 100%;
  background-color: #ABE189;
  position: relative;
  overflow: hidden;
  top: -125px;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  z-index: 3;
}
#home .background #grass div.inside {
  position: relative;
  top: 60px;
  left: 25px;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}
#home #house {
  position: absolute;
  right: -35px;
  bottom: 0px;
  z-index: 2;
}
#home #house.shade:before {
  content: url('/images/lyford-house-shade.png');
  opacity: 0.55;
  position: absolute;
  right: 0px;
  bottom: 9px;
}
#home #clock {
  cursor: pointer;
  width: 20px;
  position: absolute;
  right: -25px;
  bottom: 0px;
  z-index: 100;
}
#home #clock img {
  width: 20px;
}
#home .dark:after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
#home .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  z-index: 10;
}
#home .text.light {
  color: #DDD;
  z-index: 11;
}
@media all and (max-width: 850px) {
  #home #scene .text {
    width: 50%;
  }
  #home #scene .text p.date {
    margin-top: 20px;
  }
  #home #scene .text p.location {
    margin-top: 60px;
  }
}
@media all and (max-width: 700px) {
  #home #scene .text {
    width: 100%;
  }
  #home #scene .text p.date {
    margin-top: 20px;
  }
  #home #scene .text p.location {
    margin-top: 100px;
  }
  #home #scene #house {
    display: none;
  }
}
@media all and (max-width: 550px) {
  #home #scene .text {
    width: 100%;
  }
  #home #scene .text p.date {
    margin-top: 15px;
  }
  #home #scene .text p.location {
    margin-top: 70px;
  }
  #home #scene #house {
    display: none;
  }
}
