/* styles for ruthandjosh.net */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/*! smart-grid.css 3.0.0 | BSD License | http://dryan.com/css-smart-grid */
.container {
  max-width: 940px;
  padding: 0 1.0638297872340425%;
  margin: 0 auto;
  width: 100%;
}
.container,
.row {
  display: inline-block;
}
.container:after,
.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[lang] .container,
html[lang] .row {
  display: block;
}
* html .container,
* html .row {
  height: 1%;
}
@media (min-width: 200px) {
  .columns {
    float: left;
    margin: 0 0 0 2.127659574468085%;
    width: 6.3829787%;
  }
  .columns:first-child,
  .columns.first {
    margin-left: 0;
  }
  .columns.two {
    width: 14.893616974468085%;
  }
  .columns.three,
  .columns.one-fourth {
    width: 23.40425524893617%;
  }
  .columns.four,
  .columns.one-third {
    width: 31.914893523404253%;
  }
  .columns.five {
    width: 40.42553179787234%;
  }
  .columns.six,
  .columns.one-half {
    width: 48.936170072340424%;
  }
  .columns.seven {
    width: 57.44680834680851%;
  }
  .columns.eight,
  .columns.two-thirds {
    width: 65.95744662127659%;
  }
  .columns.nine,
  .columns.three-fourths {
    width: 74.46808489574468%;
  }
  .columns.ten {
    width: 82.97872317021276%;
  }
  .columns.eleven {
    width: 91.48936144468084%;
  }
  .columns.twelve,
  .columns.full {
    width: 99.99999971914895%;
  }
  .columns.offset-one {
    margin-left: 10.638297848936169%;
  }
  .columns.offset-one:first-child,
  .columns.offset-one.first {
    margin-left: 8.510638274468086%;
  }
  .columns.offset-two {
    margin-left: 19.148936123404255%;
  }
  .columns.offset-two:first-child,
  .columns.offset-two.first {
    margin-left: 17.02127654893617%;
  }
  .columns.offset-three {
    margin-left: 27.65957439787234%;
  }
  .columns.offset-three:first-child,
  .columns.offset-three.first {
    margin-left: 25.531914823404257%;
  }
  .columns.offset-four {
    margin-left: 36.170212672340426%;
  }
  .columns.offset-four:first-child,
  .columns.offset-four.first {
    margin-left: 34.04255309787234%;
  }
  .columns.offset-five {
    margin-left: 44.680850946808505%;
  }
  .columns.offset-five:first-child,
  .columns.offset-five.first {
    margin-left: 42.55319137234042%;
  }
  .columns.offset-six {
    margin-left: 53.1914892212766%;
  }
  .columns.offset-six:first-child,
  .columns.offset-six.first {
    margin-left: 51.063829646808514%;
  }
  .columns.offset-seven {
    margin-left: 61.702127495744676%;
  }
  .columns.offset-seven:first-child,
  .columns.offset-seven.first {
    margin-left: 59.57446792127659%;
  }
  .columns.offset-eight {
    margin-left: 70.21276577021277%;
  }
  .columns.offset-eight:first-child,
  .columns.offset-eight.first {
    margin-left: 68.08510619574469%;
  }
  .columns.offset-nine {
    margin-left: 78.72340404468085%;
  }
  .columns.offset-nine:first-child,
  .columns.offset-nine.first {
    margin-left: 76.59574447021276%;
  }
  .columns.offset-ten {
    margin-left: 87.23404231914893%;
  }
  .columns.offset-ten:first-child,
  .columns.offset-ten.first {
    margin-left: 85.10638274468084%;
  }
  .columns.offset-eleven {
    margin-left: 95.744680593617%;
  }
  .columns.offset-eleven:first-child,
  .columns.offset-eleven.first {
    margin-left: 93.61702101914892%;
  }
}
/*
 * uncomment this section for IE support
 */
/*
html.oldie,
html.lt-ie9 {
    .column-set;
}
*//*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'ruth';
  src: url('fonts/ruth.eot');
  src: url('fonts/ruth.eot?#iefix') format('embedded-opentype'), url('fonts/ruth.woff') format('woff'), url('fonts/ruth.ttf') format('truetype'), url('fonts/ruth.svg#ruths_fontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'josh';
  src: url('fonts/josh.eot');
  src: url('fonts/josh.eot?#iefix') format('embedded-opentype'), url('fonts/josh.woff') format('woff'), url('fonts/josh.ttf') format('truetype'), url('fonts/josh.svg#ruths_fontregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.j {
  font-family: 'josh';
}
.r {
  font-family: 'ruth';
}
body {
  font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  text-align: center;
  margin: 20px;
  background: -webkit-linear-gradient(-45deg, #898a8a 25%, #657784 25%, #657784 50%, #898a8a 50%, #898a8a 75%, #657784 75%);
  background-size: 16px 16px;
}
:selection {
  background: #F3F315;
}
div.container {
  background: #f5fafb;
  margin: 0 auto;
  border-right: 2px white;
  border-bottom: 2px white;
  text-align: left;
}
h1 {
  text-align: center;
  font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  text-transform: uppercase;
  font-weight: normal;
  padding: 20px 0;
}
h1 .name {
  color: #46a8df;
  display: inline-block;
  font-size: 40px;
}
h1 .name span {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  color: black;
  display: block;
  font-size: 18px;
}
h1 .name.ruth span {
  letter-spacing: 12px;
  padding-left: 10px;
}
h1 .name.josh span {
  letter-spacing: 3px;
}
h1 .amp {
  font-family: cursive;
  color: black;
  font-size: 60px;
  display: inline-block;
  position: relative;
  top: -10px;
  margin-right: 5px;
}
h2.title {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
h2.title:before {
  content: ">";
  margin-right: 5px;
}
h3 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  margin-top: 10px;
}
h4 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
}
nav {
  text-align: center;
  text-transform: uppercase;
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  border-bottom: 2px solid #46a8df;
  width: 100%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}
nav ul li {
  display: inline-block;
  margin-right: 8.8%;
}
nav ul li a {
  text-decoration: none;
  color: #191919;
}
nav ul li a:visited {
  color: #191919;
}
nav ul li a:hover {
  color: #46a8df;
}
nav ul li.current a {
  color: #657784;
}
nav ul li:last-child {
  margin-right: 0;
}
span.large {
  font-size: 2.5em;
}
.top-40 {
  margin-top: 40px;
}
.top-20 {
  margin-top: 20px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.bottom-40 {
  margin-bottom: 40px;
}
.hr.dotted {
  border-bottom: 1px dashed black;
}
section.content {
  margin: 20px 0;
}
section.content p {
  padding: 10px 20px;
  line-height: 20px;
}
section.content a {
  color: #46a8df;
}
section.content h3 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  color: #657784;
  font-weight: bold;
}
footer {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  text-align: right;
  color: #898a8a;
  font-size: 0.75em;
  padding: 10px 0;
}
footer a {
  text-decoration: none;
}
#home .left {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 48.936170072340424%;
}
#home .left:first-child,
#home .left.first {
  margin-left: 0;
}
#home .right {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 48.936170072340424%;
}
#home .right:first-child,
#home .right.first {
  margin-left: 0;
}
#home .text {
  text-align: center;
  text-transform: uppercase;
}
#home .text h2 {
  font-family: "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 2em;
  margin-top: 100px;
}
#home .text p {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
  margin-top: 40px;
  font-size: 1.5em;
  line-height: 1.25em;
}
#home .text p.date span {
  color: #46a8df;
  font-size: 1.5em;
}
#home .text p.location {
  margin-top: 110px;
}
#home .text p.location span {
  font-size: 0.65em;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#home #scene {
  position: relative;
  width: 95%;
  left: 2.5%;
  padding: 0;
  display: inline-block;
}
#home .background {
  z-index: 0;
  border: 1px solid black;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  height: 500px;
  width: 100%;
}
#home .background #sky {
  height: 300px;
  z-index: 1;
}
#home .background #sky #sun {
  position: relative;
  top: 40px;
  left: 47%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: yellow;
  z-index: 1;
}
#home .background #sky.dawn {
  background: #6c7997;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6c7997), color-stop(1, #56425f));
  background: -ms-linear-gradient(bottom, #6c7997, #56425f);
  background: -moz-linear-gradient(center bottom, #6c7997 0%, #56425f 100%);
  background: -o-linear-gradient(#56425f, #6c7997);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56425f', endColorstr='#6c7997', GradientType=0);
}
#home .background #sky.dawn #sun {
  display: none;
}
#home .background #sky.sunrise {
  background: #ffffca;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffca), color-stop(1, #d3c6cc));
  background: -ms-linear-gradient(bottom, #ffffca, #d3c6cc);
  background: -moz-linear-gradient(center bottom, #ffffca 0%, #d3c6cc 100%);
  background: -o-linear-gradient(#d3c6cc, #ffffca);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3c6cc', endColorstr='#ffffca', GradientType=0);
}
#home .background #sky.sunrise #sun {
  top: 280px;
  background-color: orange;
}
#home .background #sky.sunset {
  background: #fedd7b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fedd7b), color-stop(1, #445d7b));
  background: -ms-linear-gradient(bottom, #fedd7b, #445d7b);
  background: -moz-linear-gradient(center bottom, #fedd7b 0%, #445d7b 100%);
  background: -o-linear-gradient(#445d7b, #fedd7b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#445d7b', endColorstr='#fedd7b', GradientType=0);
}
#home .background #sky.sunset #sun {
  top: 280px;
  background-color: red;
}
#home .background #sky.day {
  background: #e7fcfc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e7fcfc), color-stop(1, #bdf3f0));
  background: -ms-linear-gradient(bottom, #e7fcfc, #bdf3f0);
  background: -moz-linear-gradient(center bottom, #e7fcfc 0%, #bdf3f0 100%);
  background: -o-linear-gradient(#bdf3f0, #e7fcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdf3f0', endColorstr='#e7fcfc', GradientType=0);
}
#home .background #sky.dusk {
  background: #6c7997;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6c7997), color-stop(1, #56425f));
  background: -ms-linear-gradient(bottom, #6c7997, #56425f);
  background: -moz-linear-gradient(center bottom, #6c7997 0%, #56425f 100%);
  background: -o-linear-gradient(#56425f, #6c7997);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56425f', endColorstr='#6c7997', GradientType=0);
}
#home .background #sky.dusk #sun {
  display: none;
}
#home .background #sky.night {
  background: #604779;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #604779), color-stop(1, #001649));
  background: -ms-linear-gradient(bottom, #604779, #001649);
  background: -moz-linear-gradient(center bottom, #604779 0%, #001649 100%);
  background: -o-linear-gradient(#001649, #604779);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001649', endColorstr='#604779', GradientType=0);
}
#home .background #sky.night #sun {
  display: none;
}
#home .background #sea {
  height: 200px;
  background-color: #7cd5df;
  z-index: 2;
  position: relative;
}
#home .background #sea .boat {
  position: relative;
  top: 20px;
  left: 40px;
}
#home .background #grass {
  height: 200px;
  width: 100%;
  background-color: #ABE189;
  position: relative;
  overflow: hidden;
  top: -125px;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
  z-index: 3;
}
#home .background #grass div.inside {
  position: relative;
  top: 60px;
  left: 25px;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}
#home #house {
  position: absolute;
  right: -35px;
  bottom: 0px;
  z-index: 2;
}
#home #house.shade:before {
  content: url('/images/lyford-house-shade.png');
  opacity: 0.55;
  position: absolute;
  right: 0px;
  bottom: 9px;
}
#home #clock {
  cursor: pointer;
  width: 20px;
  position: absolute;
  right: -25px;
  bottom: 0px;
  z-index: 100;
}
#home #clock img {
  width: 20px;
}
#home .dark:after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
#home .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 66%;
  z-index: 10;
}
#home .text h2 {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
}
#home .text.light {
  color: #DDD;
  z-index: 11;
}
@media all and (max-width: 850px) {
  #home #scene .text {
    width: 50%;
  }
  #home #scene .text p.date {
    margin-top: 20px;
  }
  #home #scene .text p.location {
    margin-top: 100px;
  }
}
@media all and (max-width: 700px) {
  #home #scene .text {
    width: 100%;
  }
  #home #scene .text p.date {
    margin-top: 20px;
  }
  #home #scene .text p.location {
    margin-top: 120px;
  }
  #home #scene #house {
    display: none;
  }
}
@media all and (max-width: 475px) {
  header h1 .amp {
    display: block;
    top: 0px;
  }
  #home #scene .text {
    width: 100%;
    margin: -40px 0 0 0;
  }
  #home #scene .text p.date {
    margin-top: 15px;
  }
  #home #scene .text p.location {
    margin-top: 50px;
  }
  #home #scene #house {
    display: none;
  }
}
.story {
  padding: 60px 10px;
  margin-top: -50px;
  background: white;
}
.story .row {
  margin-bottom: 50px;
  width: 100%;
}
.story .row .text {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 48.936170072340424%;
  text-align: center;
}
.story .row .text:first-child,
.story .row .text.first {
  margin-left: 0;
}
.story .row .left,
.story .row .right {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 23.40425524893617%;
}
.story .row .left:first-child,
.story .row .right:first-child,
.story .row .left.first,
.story .row .right.first {
  margin-left: 0;
}
.story .row .center {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 48.936170072340424%;
  margin-left: 27.65957439787234%;
}
.story .row .center:first-child,
.story .row .center.first {
  margin-left: 0;
}
.story .row .center:first-child,
.story .row .center.first {
  margin-left: 25.531914823404257%;
}
.story .row.multi {
  position: relative;
}
.story .row.multi img {
  position: absolute;
  left: 0;
}
.story .row.multi .text {
  margin-left: 27.65957439787234%;
}
.story .row.multi .text:first-child,
.story .row.multi .text.first {
  margin-left: 25.531914823404257%;
}
.story .row.multi .right {
  margin-left: 78.72340404468085%;
}
.story .row.multi .right:first-child,
.story .row.multi .right.first {
  margin-left: 76.59574447021276%;
}
#post_list {
  padding: 20px;
}
#post_list ul {
  list-style-type: none;
}
#post_list ul li {
  margin: 40px 0px;
}
#post_list ul li .date {
  float: right;
}
#post_list ul li h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#post_list ul li .content img {
  max-width: 100%;
}
#post_list ul li .meta {
  margin-top: 5px;
}
.registry {
  margin-top: 20px;
}
.registry .row {
  margin-bottom: 50px;
  width: 100%;
}
.registry .row .animal {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 31.914893523404253%;
  margin-left: 10.638297848936169%;
}
.registry .row .animal:first-child,
.registry .row .animal.first {
  margin-left: 0;
}
.registry .row .animal:first-child,
.registry .row .animal.first {
  margin-left: 8.510638274468086%;
}
.registry .row .text {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 48.936170072340424%;
  margin-left: 2.127659574468085%;
  text-align: center;
  padding-top: 25px;
}
.registry .row .text:first-child,
.registry .row .text.first {
  margin-left: 0;
}
.registry .row .text:first-child,
.registry .row .text.first {
  margin-left: 0%;
}
.registry .row .text p {
  width: 75%;
  margin: 10px auto;
}
.registry .row .text ul {
  list-style-type: none;
  padding: 0;
}
.registry .row .text ul li {
  margin-bottom: 5px;
}
.registry h3 {
  text-align: center;
  font-size: 24px;
}
.registry small {
  font-size: 0.75em;
}
@media all and (max-width: 475px) {
  .registry .row .animal {
    width: 82.97872317021276%;
    margin-left: 10.638297848936169%;
  }
  .registry .row .animal:first-child,
  .registry .row .animal.first {
    margin-left: 8.510638274468086%;
  }
  .registry .row .text {
    width: 99.99999971914895%;
    margin-left: 2.127659574468085%;
  }
  .registry .row .text:first-child,
  .registry .row .text.first {
    margin-left: 0%;
  }
}
#hotels .text {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 57.44680834680851%;
}
#hotels .text:first-child,
#hotels .text.first {
  margin-left: 0;
}
#hotels .map {
  float: left;
  margin: 0 0 0 2.127659574468085%;
  width: 6.3829787%;
  width: 40.42553179787234%;
  height: 400px;
  margin-bottom: 20px;
}
#hotels .map:first-child,
#hotels .map.first {
  margin-left: 0;
}
@media all and (max-width: 475px) {
  #hotels .text {
    float: left;
    margin: 0 0 0 2.127659574468085%;
    width: 6.3829787%;
    width: 99.99999971914895%;
  }
  #hotels .text:first-child,
  #hotels .text.first {
    margin-left: 0;
  }
  #hotels .map {
    float: left;
    margin: 0 0 0 2.127659574468085%;
    width: 6.3829787%;
    width: 91.48936144468084%;
    margin-left: 2.127659574468085%;
    height: 400px;
    margin-bottom: 20px;
  }
  #hotels .map:first-child,
  #hotels .map.first {
    margin-left: 0;
  }
  #hotels .map:first-child,
  #hotels .map.first {
    margin-left: 0%;
  }
}
