//blog posts
#post_list {
	padding:20px;
	ul {
		list-style-type: none;
		li {
			margin:40px 0px;
			.date { float:right; }
			h3 {
				font-size:1.2em; 
				margin-bottom:10px;
			}
			.content {
				img { max-width:100%; }
			}
			.meta {
				margin-top:5px;
			}
		}
	}
}