/* styles for ruthandjosh.net */

@import "smart-grid";
@import "elements.less";
@import "fonts";

@black: black;
@red: #e8280e;
@grey: grey;

body { font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif; }
:selection {
	background: #F3F315;
}

//header
h1 {
	text-align:center;
	span.r { position:relative; top:6px; }
	span.j { position:relative; top:2px; }
	span.n { font-weight:100; }
	a { text-decoration:none; color:black;
		&:visited { text-decoration:none; color:@black; }
		&:hover { text-decoration:none; color:@grey; }
	}
}
h2 { text-align:center; }

nav {
	ul {
		list-style-type:none;
		li {
			display:inline;
			margin-right:5px;
			text-decoration:none;
			:after {
				content:"|";
				margin-left:5px;
				text-decoration:none;
				color:@black;
			}

			a {

			}
		}
	}
}

span.large {
	font-size:2.5em;
}

.top-40 { margin-top:40px; }
.top-20 { margin-top:20px; }
.bottom-20 { margin-bottom:20px; }
.bottom-40 { margin-bottom:40px; }

.hr.dotted {
	border-bottom:1px dashed black;
}

//page specific layouts
@import "story";
@import "home";
@import "blog";