---
layout: default
title: Blog
---

<script type="text/javascript">
$(document).ready(function() {
    $("#post_list ul li .content img.lazy").lazyload({ threshold : 200 });
});

//force a scroll event to kickstart lazy loading
window.onload = function() {
    $('img.lazy').first().trigger('scroll');
}
</script>

<div id="post_list">
	<ul>
	{% for post in site.posts reversed %}
		<li>
            <span class="date">{{ post.date | date_to_string }}</span> 
            <h3>{{ post.title }}</h3> 
            <div class="content">{{post.content}}</div>
            <div class="meta">
                
            </div>
        </li>
	{% endfor %}
	</ul>
</div>