<html>

<head>
{% if page.title %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
{% endif %}
<meta name="author" content="Josh Levinger and Ruth Miller" />
{% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{site.title }} {{ page.title }}" />
{% endif %}

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/script.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include google_analytics.html %}

</head>
<body>

<div class="container">
  {{content}}
</div>

</body>
</html>